@* 
<div style="text-align:center; margin-top: 100px;">
    <form method="post" asp-controller="CTI" asp-action="dialer">
        <label>EmpCoode :</label>
        <input type="text" name="empCode" />
        <br /><br />
        <button type="submit">Log In</button>
    </form>
    <br />
  
</div>
 *@